<%= form_tag '/sessions', :method => "post" do %>
<p>
<%= text_field_tag "user_id", "", :placeholder => "Associate ID"%>
<%= text_field_tag "password", "", :placeholder => "Password" %>
</p>

<p> <%= check_box_tag "agree" %> Agree to pull my information from Cognizant system <p>

<p> <%= submit_tag "Let me USE!" %> <%= submit_tag "I am not READY!" %> <p>

<% end %>
