<div id="location-creation">
	<%= form_tag locations_path, :id => "associate_location_frm", :name => "associate_location_frm" do %>
			
				<div>
					<%= text_field_tag "country", "", :placeholder => "Country", :class => "required" %>
					<%= text_field_tag "state", "", :placeholder => "State", :class => "required" %>
					<%= text_field_tag "city", "", :placeholder => "City", :class => "required" %>
					<%= text_field_tag "location", "", :placeholder => "Location", :class => "required" %>
					<span> Could not find location? </span>
				</div>
				
				<div class="row-fluid">
					<div class="span9">
						<div>
							How you will be here in this location?			
						</div>
						<div style="display: inline;">
							<%= radio_button_tag "date_range", "today" %> Today Only | <%= radio_button_tag "date_range", "week"  %> A Week					
								<%= render :file => "layouts/datepicker", :locals => {:name => "start_date"} %>
						<%= render :file => "layouts/datepicker", :locals => {:name => "end_date"} %>						
						</div>
					</div>
					<div class="span3">

						<span><%= submit_tag "Update Details" %></span>			
					</div>        
				</div>

				<div>Add more details (Helps associates to reach you quickly)</div>

				<div class="row-fluid">
					<div class="span3">
						<div>
							<%= text_field_tag "seat_number", "", :placeholder => "Seat Number"%>
						</div>
						<div>
							<%= text_field_tag "vnet", "", :placeholder => "Vnet"%>
						</div>
						<div>
							<%= text_field_tag "contact_phone", "", :placeholder => "Contact Phone"%>
						</div>
					</div>
					<div class="span9">
						<!-- Extra content -->
					</div>
				</div>

	<% end %>
</div>
<script type="text/javascript">  	
	$('#location').typeahead({source: <%=raw @addresses %>});		
	$('#country').typeahead({source: <%=raw @countries %>});
	$('#state').typeahead({source: <%=raw @states %>});
	$('#city').typeahead({source: <%=raw @cities %>});		
</script>
